<mat-card>

    <mat-card-title>
        {{ card ? title : 'How to play this game' }}
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="!card">
            <b>[1.]</b>{{ card ? description : ' Share the link to invite others' }}<br>
            <b>[2.]</b>{{ card ? description : ' Choose player-names'}}<br>
            <b>[3.]</b>{{ card ? description : ' Pick a card on your turn' }}
        </div>
        <div *ngIf="card">
            {{ description }}<br>
        </div>
    </mat-card-content>

</mat-card>